<div class="sidebar-container">
  <div class="logo-area">
    <h1>Zombie Defense</h1>
    <p>Centro de control</p>
  </div>

  <nav class="menu">
    <a routerLink="/simulacion" routerLinkActive="active" class="menu-item">
      Simulación
    </a>

  <!--  <a routerLink="/estadisticas" routerLinkActive="active" class="menu-item">
      Estadísticas
    </a>-->

    <a routerLink="/ranking" routerLinkActive="active" class="menu-item">
      Ranking
    </a>

    <a routerLink="/zombies" routerLinkActive="active" class="menu-item">
      Zombies
    </a>
  </nav>
</div>